html,body,div,h1,h2,h3,h4,h5,h6,a,ul,ol,li,dl,dt,dd,em,i,img,p,form,input,button{
	padding: 0;
	margin: 0;
}
body{
	background: #f5f6f7;
	font-size: 15px;
	color: #121212;
	
	
}
body,button,p,ul,ol,dl,dt,dd{
	padding: 0;
	margin: 0;
}
a, button, input, textarea {
    outline: none;
}
a{
	color: inherit;
	text-decoration: none;
}

.button{
	color:#8590a6;
}
button{
	padding: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	appearance: none;
	
}
.button{
	display: inline-block;
	padding: 0 16px;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	background: none;
	border: 1px solid;
	border-radius: 3px;
}
.button--blue{
	color: #0084FF;
	border-color: #0084FF;
}
.button--plain{
	height: auto;
	padding: 0;
	line-height: inherit;
	background-color: transparent;
	border: 0;
	border-radius: 0;
}
li{
	list-style-type: none;
}
h1, h2, h3 {
    margin: 0;
    font: inherit;
}
@media (min-width: 690px)
.richContent.is-collapsed {
    cursor: pointer;
    -webkit-transition: color 0.14s ease-out;
    transition: color 0.14s ease-out;
}
@media (min-width: 690px)
.richContent.is-collapsed .copyrightRichText-richText {
    pointer-events: none;
}
/***
 * 690
 * 768
 * 992
 * 1200
 */