/**导航开始**/
#itour-banner{
	font-size: 14px;
	font-weight: normal;
	color: #20232c;
	background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    position: relative;
}
#itour-banner a{
	text-decoration: none;
}
#itour-banner .banner-container{
	width: 1000px;
	height: 44px;
	margin: 0 auto;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#itour-banner .banner-logo{
	max-width: 80px;
	height: 100%;
	margin-right: 8px;
}
#itour-banner .itour-banner-fl{
float: left;	
}
#itour-banner .banner-logo img{
	display: block;
	width: 80px;
}

#itour-banner .banner-menus{
	width: auto;
	height: 100%;
	font-size: 0;
}
#itour-banner .banner-menus li{
	position: relative;
	display: inline-block;
	list-style: none;
	font-size: 14px;
	height: 100%;
	line-height: 44px;
}
#itour-banner .banner-menus li:hover{
	color: #20232c;
	background: #f0f0f5;
}
#itour-banner .banner-menus li>a{
	display: block;
	height: 100%;
	color: inherit;
	padding: 0 10px;
}
#itour-banner .banner-serach{
	width: 410px;
	height: 32px;
	margin-top: calc((44px - 32px)/ 2);
	margin-left: 8px;
}
#itour-banner .banner-container .banner-serach{
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-right: 16px;
}
#itour-banner .banner-serach .banner-serach-container{
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0;
}
#itour-banner .banner-serach .banner-serach-container input{
	width: calc(100% - 40px);
	height: 100%;
	line-height: inherit;
	border: 0 none;
	outline: 0;
	background: #f6f7f8;
	vertical-align: top;
	text-indent: 16px;
	border: 1px solid #F6F7F8;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 16px 0 0 16px;
}
#itour-banner .banner-serach .banner-serach-container button{
	display: inline-block;
	width: 40px;
	height: 100%;
	outline: 0;
	border: 0 none;
	background: url(../../img/itour/common/itour-white-search.png) no-repeat center center #0084FF;
	background-size: 70%;
	border-radius: 0 16px 16px 0;
	font-size: 0;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
#itour-banner .banner-serach .banner-serach-container button:hover{
	background: url(../../img/itour/common/itour-white-search.png) no-repeat center center #0077E6;
    background-size: 70%;
}
#itour-banner .itour-banner-fr{
	float: right;
}
#itour-banner .banner-btns{
	height: 100%;
	
}
#itour-banner .banner-btns .banner-btn{
	margin-right: 8px;
}
#itour-banner .banner-btns .banner-btn-write>a{
	display: block;
	min-width: 96px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	border-radius: 16px;
	margin-top: calc((44px - 32px)/ 2);
	background: linear-gradient(92deg,#22D3FF 0,#39A2E9 37%,#0084FF 81%,#0077E6 100%)
	
}
#itour-banner .banner-btns .banner-btn-write>a i{
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	vertical-align: middle;
	background: url(../../img/itour/common/16-16@2x.png) no-repeat -32px -16px;
	background-size: 300%;
	top: -1px;
	margin-right: 4px;
}
#itour-banner .banner-btns .banner-btn-write>a:hover{

    background: -webkit-gradient(linear,left top,right top,from(#22D3FF),color-stop(34%,#39A2E9),color-stop(66%,#0084FF),to(#0077E6));
    background: linear-gradient(90deg,#22D3FF 0,#39A2E9 34%,#0084FF 66%,#0077E6 100%);	
}
#itour-banner .toolbar-subMenu-box{
	position: relative;
}

#itour-banner .toolbar-subMenu-box .toolbar-subMenu{
	position: absolute;
	display: none;
	top: 38px;
	min-width: 96px;
	padding: 8px 0;
	border-radius: 0 0 4px 4px;
	background: #fff;
	text-align: center;
	line-height: 32px;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    z-index: 9999;
	
}
#itour-banner .toolbar-subMenu-box .toolbar-subMenu>a{
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    display: block;
    color: #555666;
}
#itour-banner .toolbar-subMenu-box .toolbar-subMenu>a:hover{
	background:#f0f0f5;
}
#itour-banner .banner-btns .banner-btn-collect{
	width: 48px;
	height: 44px;
	line-height: 44px;
	color: inherit;
	text-align: center;
	margin-right: 0;
}

#itour-banner .banner-btns .banner-btn-msg .toolbar-subMenu-box{
	width: 100%;
    height: 100%;
}
#itour-banner .banner-btns .banner-btn-msg .toolbar-subMenu-box>a{
	display: block;
	width: 48px;
	height: 44px;
	line-height: 44px;
	color: inherit;
	position: relative;
	text-align: center;
	
}
#itour-banner .banner-btns .toolbar-subMenu{
	background: #fff;
	
}
#itour-banner .banner-btns .toolbar-subMenu>a{
	height: 40px;
	line-height: 40px;
	text-align: left;
	padding-left: 24px;
}
#itour-banner .banner-btns .banner-btn-msg .toolbar-subMenu{
	width: 120px;
}
#itour-banner .banner-btns .banner-btn-login{
	height: 100%;
}
#itour-banner .banner-btns .banner-btn-login>a{
	display: block;
    color: #20232c;
    line-height: 44px;
}
#itour-banner .banner-btns .banner-btn-login>a.hasAvatar{
	margin-top: calc((44px - 32px)/2);
}
#itour-banner .banner-btns .banner-btn-login>a img{
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	
}
#itour-banner .banner-btns .banner-btn-login .toolbar-subMenu{
	width: 144px;
}
#itour-banner .banner-btns .banner-btn-login .toolbar-subMenu a i.banner-icon{
display: inline-block;
width: 16px;
height: 16px;
position: relative;
margin-right: 8px;
top: -1px;
vertical-align: middle;
background: url(../../img/csdn/16-16@2x.png);
background-repeat: no-repeat;
background-size: 300%;
background-position-x: 0;	
}
#itour-banner .banner-btns .banner-btn-login .toolbar-subMenu a i.banner-icon-profile{
	background-position-y: -32px;
}
#itour-banner .banner-btns .banner-btn-login .toolbar-subMenu a i.banner-icon-account{
	background-position-y: -48px;
}
#itour-banner .banner-btns .banner-btn-login .toolbar-subMenu a i.banner-icon-mp{
	background-position-y: -80px;
}
#itour-banner .banner-btns .banner-btn-login .toolbar-subMenu a i.banner-icon-blog{
	background-position-y: -64px;
}
#itour-banner .banner-btns .banner-btn-login .toolbar-subMenu a i.banner-icon-logout{
	background-position-y: -176px;
}
#itour-banner .banner-btns .banner-btn-login>a{
	display: inline-block;
	width: 48px;
	line-height: 44px;
	color: #20232c;
	text-align: center;
	
	
}
/**导航结束**/

/**左边列表开始**/
.topstory-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
	width: 1000px;
	padding: 0 16px;
	margin: 10px auto;
}
.topstory-mainColunm{
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-right: 10px;
	margin-bottom: 0;
	width: 694px;
}
.card{
	margin-bottom: 10px;
	background: #fff;
	overflow: hidden;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(18,18,18,0.1);
	box-shadow: 0 1px 3px rgba(18,18,18,0.1);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.topstory-noMarginCard{
	margin-bottom: 0!important;
}
.topstory-tabCard{
	-webkit-box-shadow: none;
	box-shadow: none;
}
.topstoryTabs{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #F6F6F6;
	height: 58px;
}
.topstory-tabs{
	border-bottom: 1px solid #f0f2f7;
}
.topstoryTabs-link{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px;
	margin: 0 22px;
}
.topstoryTabs-link:hover{
	color: #175199;
}
.topstoryTabs-link.is-active{
	color: #0084FF;
	font-weight: 500;
}
.topstoryTabs-link.is-active:hover{
	color: #0084ff;
}

.topstoryItem{
border-radius: 0;	
overflow: initial;
position: relative;
padding: 16px 20px;

}
.topstoryItem-isRecommend{
	padding: 20px;
}
.topstory-mainColunm .topstoryItem--advertCard{
	padding: 0;
	border-bottom: none;
}
.topstory-mainColunm .card:not(.topstory-tabCard){
	margin-bottom: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid #f0f2f7;
}
.contentItem-title{
	font-size: 18px;
	font-weight: 600;
	line-height: 1.6;
	color: #121212;
	margin-top: -4px;
	margin-bottom: -4px;
}
.richContent{
	line-height: 1.67;
}
.richContent-cover{
 position: relative;
 width: 190px;
 height: 105px;
 margin-top: -2px;
 margin-right: 18px;
 margin-bottom: 4px;
 float: left;
 overflow: hidden;
 background-position: 50%;
 background-size: cover;
 border-radius: 4px;
 -webkit-transform: translateZ(0);
 transform: translateZ(0);
}
.richContent-cover:after{
content: "";
position: absolute;
z-index: 1;
display: block;
width: 100%;
height: 100%;
background: rgba(18,18,18,0.02);
}
.richContent-cover-inner{
position: absolute;
top: 50%;
left: 0;
height: 100%;
width: 100%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
overflow: hidden;		
}
.richContent-cover-inner img{
	position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.richContent-cover-play{
	position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 48px;
    height: 48px;
    -webkit-box-shadow: 0 0 4px 0 rgba(18,18,18,0.16);
    box-shadow: 0 0 4px 0 rgba(18,18,18,0.16);
}



.richContent-inner{
	margin-top: 9px;
	margin-bottom: -4px;
    overflow: hidden;
}
.richContent-cover+.richContent-inner{
	margin-top: 16px;
}
.richContent .richContent-inner{
	max-height: 100px;
}
.ztext {
    word-break: break-word;
    line-height: 1.6;
}
.richContent.is-collapsed:not(.richContent--unescapable) .copyrightRichText-richText {
    white-space: normal;
}
.contentItem-more{
	padding: 0;
    margin-left: 4px;
    color: #175199;
}


.contentItem-actions{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 20px;
	margin: 0 -20px -10px;
	color: #646464;
	background: #fff;
	clear: both;
}
.contentItem-actions .avatar img{
	display: inline-block;
	height: 32px;
	width: 32px;
	border-radius: 50%;
}
.contentItem-actions>*{
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.contentItem-action{
	margin-left: 24px;
	font-size: 14px;
}

.contentItem-action svg:hover {
	fill: #0084FF;
}
.videoToolbar{
	padding-left: 0;
	padding-top: 0;
}
.contentItem-action:first-child{
	margin-left:0 ;
}
.voteButton{
	padding: 0 10px;
	color: #0084ff;
	background: rgba(0,132,255,0.1);
	border-color: transparent;
}
.topstoryItem:not(".button--plain"):not(".button--link"){
	line-height: 30px;
    padding: 0 12px;
}
.VoteButton-TriangleUp {
    margin-right: 5px;
}
.button--withIcon.button--plain {
    padding: 0;
}
.button--withIcon.button--withLabel .button-zi {
    margin-right: 4px;
}
.pc-feedAd-container{
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}
.pc-feedAd{
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
}
.pc-feedAd-card{
	position: relative;
}
.pc-feedAd-card-brand{
	margin-bottom: 11px;
}
.pc-feedAd-card-brand-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.pc-feedAd-card-brand-wrapper>img{
	width: 24px;
    height: 24px;
    border-radius: 1px;
    background: #fff;
}
.pc-feedAd-card-brand--bold{
	font-weight: 600;
	line-height: 24px;
}
.pc-feedAd-card-brand-wrapper>span{
	margin-left: 12px;
	color: #444;
	font-size: 16px;
	line-height: 24px;
}
.pc-feedAd-card-brand-metaText{
	color: #8590a6;
    line-height: 24px;
}
.advert-signpc-label {
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3px 6px;
    border-radius: 3px;
    color: #8590a6;
    background: #f6f6f6;
    font-size: 13px;
    cursor: pointer;
}
.advert-signpc-label>svg {
    width: 24px;
    height: 24px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    fill: #8590a6;
}
.advert-signpc-popup{
	position: fixed;
	border: 1px solid #EBEBEB;
	border-radius: 4px;
	background: #fff;
	-webkit-box-shadow: 0 5px 20px rgba(26,26,26,.1);
    box-shadow: 0 5px 20px rgba(26,26,26,.1);
    z-index: 999;
}
.advert-signpc-popup--isHidden {
    display: none;
}
.advert-signpc-popup-arrow {
    position: absolute;
    left: 60px;
    width: 32px;
    height: 16px;
    overflow: hidden;
    -webkit-transform: translate(-50%,-100%);
    transform: translate(-50%,-100%);
}
.advert-signpc-popup-arrow:after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 1px solid #ebebeb;
    margin: -12px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}
.advert-signpc-popup-menu {
    min-width: 124px;
    padding: 6px 0;
}
.advert-signpc-popup-menu>button, .advert-signpc-popup-menu a {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    border: none;
    border-radius: 0;
    color: #8590a6;
    background-color: transparent;
    font-size: 14px;
    line-height: 36px;
    text-align: left;
    cursor: pointer;
}
.pc-feedAd-card-title{
	margin: 0;
    color: #121212;
    font-weight: 600;
    font-size: 18px;
}
.pc-feedAd-card-content{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px;
    color: #121212;
    line-height: 1.67;
    word-break: break-all;
}
.advertImg {
    position: relative;
    background-color: #f6f6f6;
}
.advertImg--isLoaded {
    background-color: transparent;
}
.pc-feedAd-card-content-cover {
    width: 190px;
    height: 105px;
    border-radius: 4px;
    margin-top: 4px;
    overflow: hidden;
    vertical-align: top;
}

.advertImg img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0;
    vertical-align: top;
    text-indent: -9999px;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
    -o-object-fit: cover;
    object-fit: cover;
}
.advertImg--isLoaded img {
    opacity: 1;
}
.pc-feedAd-card-content-detail {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    margin-left: 18px;
    line-height: 24px;
    word-break: break-all;
}
.pc-feedAd-card-content-detail-cta {
    display: inline-block;
    padding: 0 3px;
    color: #8590a6;
    font-size: 14px;
}
.pc-feedAd-card-content-detail-svg {
    width: 24px;
    height: 24px;
    fill: #8590a6;
}
.text-center{
	text-align: center;
}
.pager {
    margin-bottom: 20px;
    padding: 10px 0;
    list-style: none;
    text-align: center;
    background: #fff;
}
.pager li{
	display: inline;
	color: #0084FF;
	padding: 8px 0;
}
.pager li a{
	display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}
.pager li.hidden{
	display: none;
}
.pager .fa-spinner{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../../img/itour/common/loading.gif) no-repeat center center;
	background-size: 100%;
	vertical-align: middle;
}

/**左边列表结束**/

/**右边边列表开始**/
.globalSideBar{
	-webkit-box-flex: 1;
	-ms-flex: 1 1;
	flex: 1 1;
}

.wechat-follow-wrap {
    padding: 20px;
}
.wechat-follow-title {
    border-bottom: 2px solid #dcdcdc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.wechat-follow-title span {
    font-size: 16px;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
}
.wechat-icon {
    vertical-align: middle;
}
.wechat-follow-con {
    text-indent: 2em;
}
.wechat-scan {
    float: left;
}

/**右边边列表结束**/
/*#footer部分开始*/
#footer {
    border-top: 1px solid #EEE;
    padding: 40px 0;
    color: #888;
    line-height: 1.6;
    vertical-align: top;
    background: #FFF;
}

#footer .container{
	width: 1000px;
	background: #fff;
}
#footer .copyright{
	text-align: center;
	font-size: 13px;
}
/**footer end**/
/**首页回到顶部start**/
#fixedTools {
    position: fixed;
    right: 40px;
    bottom: 40px;
    background: #FFF;
    width: 36px;
    text-align: center;
    border-radius: 2px;
    line-height: 1.25;
    z-index: 1000;
}
#fixedTools a {
    padding: 10px;
    border: 1px solid #DDD;
    display: block;
    color: #999;
    text-decoration: none;
}
/**首页回到顶部end**/

/**详情页start**/
.storyItem-isAnswer{
	padding:20px;
}
.contentItem-meta{
	display: flex;
	align-items: center;
}
.authorInfo-wrap{
	color: #0077E6	
}
.align-items-centers{
	display: flex;
	align-items: center;
}
.mr-2{
	margin-right: 0.5rem!important;
}
.mb-1{
	margin-bottom: 1rem!important;
}
.h1{
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.2;
}
.high-rank-use{
	width: 32px;
	height: 32px;
	box-shadow: 0 0 0 2px #fff, 0 0 0 3px #0084FF, 0 8px 16px 0 rgba(0,0,0,0.15);
	border-radius: 50%;
}
.article_tags{
display: flex;	
align-items: center;
}
.tag{
	margin: 0.25rem;
	color:#0084ff;
}
.article_tag{
	display: inline-block;
    font-size: 0.875rem;
    padding: 0 .375rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 0.1875rem;
    background-color: rgba(0,132,255,0.1);
}
.text-secondary{
	color:#8590a6;
	font-size:0.875rem;
	
}
.split-dot:before{
	display: inline-block;
	content: "";
	width: 2px;
	height: 2px;
	background-color:#ced4da;
	vertical-align: middle;
	border-radius: 50%;

}


/**详情页end**/



