#itour-banner{
	font-size: 14px;
	font-weight: normal;
	color: #20232c;
	background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    position: relative;
}
#itour-banner a{
	text-decoration: none;
}
#itour-banner .banner-container{
	width: 1000px;
	height: 44px;
	margin: 0 auto;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#itour-banner .banner-logo{
	max-width: 80px;
	height: 100%;
	margin-right: 8px;
}
#itour-banner .itour-banner-fl{
float: left;	
}
#itour-banner .banner-logo img{
	display: block;
	width: 80px;
}

#itour-banner .banner-menus{
	width: auto;
	height: 100%;
	font-size: 0;
}
#itour-banner .banner-menus li{
	position: relative;
	display: inline-block;
	list-style: none;
	font-size: 14px;
	height: 100%;
	line-height: 44px;
}
#itour-banner .banner-menus li:hover{
	color: #20232c;
	background: #f0f0f5;
}
#itour-banner .banner-menus li>a{
	display: block;
	height: 100%;
	color: inherit;
	padding: 0 10px;
}
#itour-banner .banner-serach{
	width: 410px;
	height: 32px;
	margin-top: calc((44px - 32px)/ 2);
	margin-left: 8px;
}
#itour-banner .banner-container .banner-serach{
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-right: 16px;
}
#itour-banner .banner-serach .banner-serach-container{
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0;
}
#itour-banner .banner-serach .banner-serach-container input{
	width: calc(100% - 40px);
	height: 100%;
	line-height: inherit;
	border: 0 none;
	outline: 0;
	background: #f6f7f8;
	vertical-align: top;
	text-indent: 16px;
	border: 1px solid #F6F7F8;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 16px 0 0 16px;
}
#itour-banner .banner-serach .banner-serach-container button{
	display: inline-block;
	width: 40px;
	height: 100%;
	outline: 0;
	border: 0 none;
	background: url(../../img/itour/common/itour-white-search.png) no-repeat center center #0084FF;
	background-size: 70%;
	border-radius: 0 16px 16px 0;
	font-size: 0;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
#itour-banner .banner-serach .banner-serach-container button:hover{
	background: url(../../img/itour/common/itour-white-search.png) no-repeat center center #0077E6;
    background-size: 70%;
}
#itour-banner .itour-banner-fr{
	float: right;
}
#itour-banner .banner-btns{
	height: 100%;
	
}
#itour-banner .banner-btns .banner-btn{
	margin-right: 8px;
}
#itour-banner .banner-btns .banner-btn-write>a{
	display: block;
	min-width: 96px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	border-radius: 16px;
	margin-top: calc((44px - 32px)/ 2);
	background: linear-gradient(92deg,#22D3FF 0,#39A2E9 37%,#0084FF 81%,#0077E6 100%)
	
}
#itour-banner .banner-btns .banner-btn-write>a i{
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	vertical-align: middle;
	background: url(../../img/itour/common/16-16@2x.png) no-repeat -32px -16px;
	background-size: 300%;
	top: -1px;
	margin-right: 4px;
}
#itour-banner .banner-btns .banner-btn-write>a:hover{

    background: -webkit-gradient(linear,left top,right top,from(#22D3FF),color-stop(34%,#39A2E9),color-stop(66%,#0084FF),to(#0077E6));
    background: linear-gradient(90deg,#22D3FF 0,#39A2E9 34%,#0084FF 66%,#0077E6 100%);	
}
#itour-banner .toolbar-subMenu-box{
	position: relative;
}

#itour-banner .toolbar-subMenu-box .toolbar-subMenu{
	position: absolute;
	display: none;
	top: 38px;
	min-width: 96px;
	padding: 8px 0;
	border-radius: 0 0 4px 4px;
	background: #fff;
	text-align: center;
	line-height: 32px;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    z-index: 9999;
	
}
#itour-banner .toolbar-subMenu-box .toolbar-subMenu>a{
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    display: block;
    color: #555666;
}
#itour-banner .toolbar-subMenu-box .toolbar-subMenu>a:hover{
	background:#f0f0f5;
}
#itour-banner .banner-btns .banner-btn-collect{
	width: 48px;
	height: 44px;
	line-height: 44px;
	color: inherit;
	text-align: center;
	margin-right: 0;
}

#itour-banner .banner-btns .banner-btn-msg .toolbar-subMenu-box{
	width: 100%;
    height: 100%;
}
#itour-banner .banner-btns .banner-btn-msg .toolbar-subMenu-box>a{
	display: block;
	width: 48px;
	height: 44px;
	line-height: 44px;
	color: inherit;
	position: relative;
	text-align: center;
	
}
#itour-banner .banner-btns .toolbar-subMenu{
	background: #fff;
	
}
#itour-banner .banner-btns .toolbar-subMenu>a{
	height: 40px;
	line-height: 40px;
	text-align: left;
	padding-left: 24px;
}
#itour-banner .banner-btns .banner-btn-msg .toolbar-subMenu{
	width: 120px;
}
#itour-banner .banner-btns .banner-btn-login{
	height: 100%;
}
#itour-banner .banner-btns .banner-btn-login>a{
	display: block;
    color: #20232c;
    line-height: 44px;
}
#itour-banner .banner-btns .banner-btn-login>a.hasAvatar{
	margin-top: calc((44px - 32px)/2);
}
#itour-banner .banner-btns .banner-btn-login>a img{
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	
}
#itour-banner .banner-btns .banner-btn-login .toolbar-subMenu{
	width: 144px;
}
#itour-banner .banner-btns .banner-btn-login .toolbar-subMenu a i.banner-icon{
display: inline-block;
width: 16px;
height: 16px;
position: relative;
margin-right: 8px;
top: -1px;
vertical-align: middle;
background: url(../../img/csdn/16-16@2x.png);
background-repeat: no-repeat;
background-size: 300%;
background-position-x: 0;	
}
#itour-banner .banner-btns .banner-btn-login .toolbar-subMenu a i.banner-icon-profile{
	background-position-y: -32px;
}
#itour-banner .banner-btns .banner-btn-login .toolbar-subMenu a i.banner-icon-account{
	background-position-y: -48px;
}
#itour-banner .banner-btns .banner-btn-login .toolbar-subMenu a i.banner-icon-mp{
	background-position-y: -80px;
}
#itour-banner .banner-btns .banner-btn-login .toolbar-subMenu a i.banner-icon-blog{
	background-position-y: -64px;
}
#itour-banner .banner-btns .banner-btn-login .toolbar-subMenu a i.banner-icon-logout{
	background-position-y: -176px;
}
