/**title start**/
.article-container{
	width: 1000px;
	margin: 0 auto;
}
.article-title-wrp{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
    margin: 8px 16px 8px 0px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    font-weight: 500;
}
.article-title-wrp .article-title-text{
	display: block;
	width: 100%;
	height: 38px;
	line-height: 24px;
	padding: 8px;
	background: #FFF;
	outline: none;
	border: none;
	border-radius: 8px;
	font-size: 18px;
	color: #4d4d4d;
	box-sizing: border-box;
}
.article-title-wrp .suffix{
	display: inline-flex;
	align-items: center;
	margin-right: 8px;
	color: rgba(0,0,0,0.75);
}
/**title end**/
/**文章设置开始**/
.setttings-container{
	width: 1000px;
	margin: 0 auto;
	
}
.appsmg-editor__after-area{
	padding: 20px;
	background: #fff;
	box-sizing: border-box;
	z-index: 100;
	margin-bottom: 60px;
}
.appmsg-editor__setting-group{
	margin-bottom: 30px;
}
.setting-group__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}
.setting-group__cover {
    float: left;
    position: relative;
    margin-right: 10px;
}
.select-cover__btn {
    display: block;
    width: 211.5px;
    height: 90px;
    box-sizing: border-box;
    border: 2px dashed #ebebeb;
    color: #0084ff;
    text-align: center;
    padding-top: 16px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.setting-group__content_main:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.icon-add_css{
	display: inline-block;
	width: 24px;
	height: 24px;
	position: relative;
}
.icon-add_css:before{
	content: "";
	display: block;
	position: absolute;
	background-color: #0084ff;
	width: 20px;
	height: 2px;
	top: 11px;
	left: 2px;
}
.icon-add_css:after{
	content: "";
	display: block;
	position: absolute;
	background-color: #0084ff;
	width: 2px;
	height: 20px;
	top: 2px;
	left: 11px;
	
}
.select-cover__btn:hover {
    background-color: #f6f8f9;
}
.select-cover__btn .btn-text {
    display: block;
}
.setting-group__abstract {
    overflow: hidden;
}


.setting-group__content_main .frm_textarea_box {
    display: block;
    width: auto;
    height: 90px;
    margin-bottom: 0!important;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: relative;
}
.frm_textarea_box.with_counter {
    position: relative;
    margin-bottom: 27px;
}
.frm_textarea_box {
    display: inline-block;
    width: 288px;
    padding: 4px 0 4px 10px;
    font-size: 14px;
    border: 1px solid #e7e7eb;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #fff;
}
.frm_textarea_box.with_counter {
    position: relative;
    margin-bottom: 27px;
}
.setting-group__content_main .frm_textarea_box {
    display: block;
    width: auto;
    height: 90px;
    margin-bottom: 0!important;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: relative;
}
.frm_textarea {
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
}
.setting-group__content_main .frm_textarea {
    height: 100%;
}
.setting-group__content_main .frm_counter {
    height: 20px;
    line-height: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    padding-right: 10px;
    font-style: normal;
}
.frm_textarea_box.with_counter .frm_counter {
    color: #9a9a9a;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}


/**原创声明**/
.setting-group__switch{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-start;
	-webkit-box-align: start;
	align-items: flex-start
}
.setting-group__switch .weui-desktop-switch{
	margin-right: 10px;
}
.weui-desktop-switch__input {
    position: absolute;
    left: -9999px;
}
.weui-desktop-switch__box{
	position: relative;
	box-sizing: border-box;
	width: 36px;
	height: 20px;
	border: 1px solid #C9C9C9;
	border-radius: 16px;
	background: #C6C6C6;
	cursor: pointer;
}
.weui-desktop-switch__box:after{
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	left: 2px;
	top: 1px;
	border-radius: 15px;
	background-color:#FFF;
}
.weui-desktop-switch__input:checked~.weui-desktop-switch__box:after{
	left: calc(98%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	
}
.weui-desktop-switch__input:checked~.weui-desktop-switch__box{
	border-color: #0088FF;
	background-color: #0088FF;
}
/**文章设置**/
.setting-group__checkbox-item {
    margin-top: 20px;
}
.appsmg-editor__after-area .frm_checkbox_label {
    white-space: nowrap;
}
.setting-group__checkbox-item .frm_checkbox_label {
    display: block;
    margin-top: 20px;
}
.setting-group__checkbox-item .frm_checkbox_label:first-child {
    margin-top: 0;
}
.frm_radio, .frm_checkbox {
    position: absolute;
    left: -999em;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.icon_radio, .icon_checkbox {
    margin-right: 3px;
    margin-top: -2px;
    *margin-top: 0;
}
.icon_checkbox {
    background: url(../../img/itour/common/base_z49d030.png) 0 -220px no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
}
.disabled .icon_checkbox {
    background: url(../../img/itour/common/base_z49d030.png) 0 -260px no-repeat;
}
.selected .icon_checkbox{
    background: url(../../img/itour/common/base_z49d030.png) 0 -240px no-repeat;

}
.allow_click_opr {
    display: inline-block;
}
.read-more__icon__more {
    font-size: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../../img/itour/common/right.png);
	background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-top: -3px;
    margin-left: -2px;
    margin-right: 8px;
    cursor: pointer;
}
.lbl_content_desc {
    display: inline-block;
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #9a9a9a;
    vertical-align: bottom;
}
.frm_tips, .frm_msg {
    padding-top: 4px;
    width: 300px;
}
.frm_msg {
    display: none;
    overflow: hidden;
    *zoom: 1;
}
.frm_msg.fail {
    color: #fa5151;
}
.tool_bar__fold-btn {
    display: inline-block;
    padding: 0 15px 0 13px;
    font-size: 14px;
    white-space: nowrap;
    line-height: 34px;
    border-radius: 18px;
    background-color: #fff;
    color: #9a9a9a;
    box-shadow: 0 1px 4px 0 rgba(227,226,226,0.6);
}
.tool_bar__fold-btn:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    margin-right: 3px;
    margin-top: -0.2em;
    background: url(../../img/itour/common/up.png) no-repeat ;
    background-size:100% ;
    background-clip: ;
}
.tool_bar__fold-btn.fold:before {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    margin-top: -0.1em;
}

/**文章设置结束**/
/**bottom_main start**/
.tool_area_wrp{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #d9dadc;
	background-color: #fff;
	z-index: 118;
    border-top-width: 0;
    box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.05);

}
.tool_area:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.tool_area_wrp .tool_area{
	width: 1000px;
	margin: 0 auto;
	
}
.tool_area_wrp .tool_bar{
	position: relative;
	padding: 20px 50px 15px 20px;
}
.tool_bar:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.tool_area_wrp .tool_bar .tool_bar_extend_left{
	float: left;
	vertical-align: middle;
	margin-top: 5px;
	font-size: 0;
}
.tool_area_wrp .tool_bar .fold_tips{
	position: relative;
	color: #9a9a9a;
	margin-top: 5px;
	font-size: 14px;
	padding-left: 15px;
	margin-left: 14px;
}
.tool_area_wrp .tool_bar .fold_tips:first-child{
	padding-left: 0;
	margin-left: 0;
}
.tool_area_wrp .tool_bar .fold_tips_value{
	margin-left: 8px;
}
.tool_area_wrp .tool_bar .fold_tips_scrolltop {
    position: absolute;
    left: 100%;
    bottom: 100%;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 0;
}
.tool_area_wrp .tool_bar .fold_tips:last-child {
    padding-right: 0;
}
.tool_area_wrp .tool_bar .btn.fr {
    margin-left: 12px;
}
.tool_area_wrp .tool_bar .btn:last-child{
	margin-left: 0;
}
.tool_area_wrp .tool_bar .btn {
    min-width: 100px;
}

/****验证码开始**/
.itour-suspend-warp {
    position: relative;
}
.itour-bind-suspend-wrap, .itour-i-dsc-wrap, .itour-i-pic-click-wrap {
    position: absolute;
    display: none;
}
.itour-suspend-warp .itour-suspend-slide,
.itour-suspend-warp .itour-suspend-i-dsc,
.itour-suspend-warp .itour-suspend-i-pic-click {
    display: none;
    line-height: 1.5;
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 38px;
    background-color: #fff;
    z-index: 2147483647;
    box-shadow: 0 0 2px 2px #eee;
    border: 1px solid #eee;
    width: auto;
    height: auto;
    padding: 18px 12px;
}
.itour-bind-suspend-wrap .itour-suspend-slide, 
.itour-bind-suspend-wrap .itour-suspend-i-dsc,
.itour-bind-suspend-wrap .itour-suspend-i-pic-click,
.itour-i-dsc-wrap .itour-suspend-slide,
.itour-i-dsc-wrap .itour-suspend-i-dsc,
.itour-i-dsc-wrap .itour-suspend-i-pic-click, 
.itour-i-pic-click-wrap .itour-suspend-slide, 
.itour-i-pic-click-wrap .itour-suspend-i-dsc, 
.itour-i-pic-click-wrap .itour-suspend-i-pic-click {
    position: relative;
    display: block;
    bottom: 0;
}
.itour-suspend-warp .itour-suspend-slide,
.itour-suspend-warp .itour-suspend-i-dsc {
    *+overflow: hidden;
}
.itourValidate-wrap * {
    margin: 0;
    padding: 0;
}
.itour-suspend-warp .itour-close {
    z-index: 2147483647;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(../../img/itour/common/x.png);
}
.itour-suspend-warp .itour-arrow {
    z-index: 2147483647;
    display: block;
    position: absolute;
    background-image: url(../../img/itour/common/tips.gif);
    background-repeat: no-repeat;
    width: 16px;
    height: 8px;
    background-position: 0 -8px;
    overflow: hidden;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: auto;
}
.itourValidate-wrap .itour-slide, 
.itourValidate-wrap .itour-dsc, 
.itourValidate-wrap .itour-pic-click {
    position: relative;
    font-family: inherit;
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
}
.itourValidate-wrap .itour-embed, 
.itourValidate-wrap .itour-bind, 
.itourValidate-wrap .itour-popup, 
.itourValidate-wrap .itour-click-popup, 
.itourValidate-wrap .itour-click-suspend, 
.itourValidate-wrap .itour-click-bind-suspend {
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    visibility: visible;
}
.itourValidate-wrap .itour-img-panel .itour-refresh {
    height: 25px;
}
.itourValidate-wrap .itour-img-panel .itour-lable-refresh {
    white-space: nowrap;
    overflow: hidden;
    width: 59%;
    float: left;
}
.itourValidate-wrap .itour-img-panel .itour-img-refresh {
    position: relative;
    float: right;
    padding-right: 0;
    height: 20px;
    cursor: pointer;
    color: #06c;
}
.itourValidate-wrap .itour-img-panel .itour-img-refresh span {
    float: right;
}
.itourValidate-wrap .itour-img-panel .itour-img-refresh div {
    background: url(../../img/itour/common/refresh2.png) center center no-repeat;
    width: 20px;
    height: 20px;
    float: right;
}
.itourValidate-wrap .itour-img-panel .itour-img-wrap {
    position: relative;
    width: 100%;
}
.itourValidate-wrap .itour-img-panel .itour-bigimg {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}
.itourValidate-wrap .itour-img-panel .itour-bigimg img {
    border-radius: 3px;
    width: 100%;
}
.itourValidate-wrap .itour-img-panel .itour-smallimg {
    touch-action: none;
    position: absolute;
    left: 0;
    top: 20px;
    width: 50px;
}
.itourValidate-wrap .itour-img-panel .itour-smallimg img {
    width: 100%;
}
.itourValidate-wrap .itour-slide-bg {
    height: 40px;
    position: relative;
}
.itourValidate-wrap .itour-slide-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.itourValidate-wrap .itour-slide-text {
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    visibility: visible;
    opacity: 1;
    color: #10b2fa;
}
.itourValidate-wrap .itour-slide-text .itour-slide-left {
    float: left;
    width: 40px;
    height: 40px;
    background: url(../../img/itour/common/slide-left-icon2.png) no-repeat;
}
.itourValidate-wrap .itour-slide-text .itour-slide-center {
    background-image: url(../../img/itour/common/slide-center-bg.png);
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
    white-space: nowrap;
}
.itourValidate-wrap .itour-slide-text .itour-slide-right {
    width: 40px;
    height: 40px;
    background: url(../../img/itour/common/slide-right-icon2.png) no-repeat;
    position: absolute;
    right: 0;
    top: 0;
}
.itourValidate-wrap .itour-slide-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.itourValidate-wrap .itour-slide-bar {
    display: none;
    width: 44px;
    border-radius: 30px;
    -moz-transition: background .4s ease;
    -o-transition: background .4s ease;
    -webkit-transition: background .4s ease;
    transition: background .4s ease;
}
.itourValidate-wrap .itour-slide-bar .itour-slide-bar-left {
    background: url(../../img/itour/common/slide-bar-left2.png) no-repeat;
    width: 24px;
    height: 40px;
    float: left;
}
.itourValidate-wrap .itour-slide-err .itour-slide-bar .itour-slide-bar-left {
 background:url(../../img/itour/common/slide-bar-err-left2.png) no-repeat
}
.itourValidate-wrap .itour-slide-bar .itour-slide-bar-center {
    background-image: url(../../img/itour/common/slide-bar-bg.png);
    margin-left: 24px;
    margin-right: 25px;
    color: #fff;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.itourValidate-wrap .itour-slide-err .itour-slide-bar .itour-slide-bar-center {
 background-image:url(../../img/itour/common/slide-bar-err-bg.png)
}
.itourValidate-wrap .itour-slide-bar .itour-slide-bar-right {
    display: none;
    width: 25px;
    height: 40px;
    background: url(../../img/itour/common/slide-bar-right2.png) no-repeat;
    position: absolute;
    right: 0;
    top: 0;
}

.itourValidate-wrap .itour-slide-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.itourValidate-wrap .itour-slide-btn {
    margin-top: -6px;
    margin-left: -6px;
    width: 55px;
    height: 55px;
    border-radius: 40px;
    background: url(../../img/itour/common/itour-slide-btn2.png) no-repeat;
    cursor: pointer;
    touch-action: none;
}

/****验证码结束**/

/****找回密码start * ****/
.auth-wrap{
	background: #fff;
}
.header-f{
	height: 110px;
    background: url(../../img/itour/common/headbg.jpg) repeat-x 0 100%;
}
.header-f .i-logo {
    width: 160px;
    height: 50px;
    float: left;
    background: url(../../img/itour/common/itour-logo.png) no-repeat;
    line-height: 99em;
    overflow: hidden;
    background-size: 70%;
    position: inherit;
    margin-top: 24px;
}
.header-f .logo-title {
    float: left;
    height: 34px;
    line-height: 34px;
    font-size: 24px;
    color: #333;
    margin-top:44px;
}
.form-wrap {
    width: 402px;
    margin: 0 auto;
    font-size: 12px ;
}
.setnew-wrap {
    margin-top: 85px;
}
.form-wrap .form-item {
    min-width: 400px;
    min-height: 62px;
    margin-bottom: 15px;
}
.form-wrap .form-item .item-rcol {
    display: block;
}
.form-wrap .form-item .item-input-wrap {
    position: relative;
    float: left;
    width: 193px;
    height: 50px;
    margin-left: -1px;
    border: 1px solid #ddd;
}
.form-wrap .form-item .item-input-xl {
    width: 398px;
}
.form-wrap .form-item .field {
    position: relative;
    border: 0;
    font-size: 14px;
    z-index: 2;
    width: 144px;
    height: 20px;
    line-height: 20px;
    padding: 15px 0 15px 15px;
    text-align: left;
    background: transparent;
    font-family: inherit;
}
.form-wrap .form-item .item-input-xl .field {
    width: 306px;
}
.form-wrap .form-item .i-ops {
    position: absolute;
    z-index: 10;
    height: 50px;
    line-height: 50px;
    right: 0;
    text-align: right;
}
.form-wrap .form-item .input-error {
    clear: both;
    padding: 5px 0 0;
    color: #f83;
}
.form-wrap .form-item .item-rcol:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.form-item-validate {
    position: relative;
}
.ac {
    text-align: center;
}
.btn-l, .btn-xl {
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.btn-xl {
    width: 400px;
}
.btn-check-defaut {
    font-family: Microsoft YaHei;
    background: #f3f3f3;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #999;
    letter-spacing: -.25px;
}
.btn-check-defaut .icon-click {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 18px;
    background: url(../../img/itour/common/click.png) no-repeat;
    overflow: hidden;
    margin-right: 7px;
}
.btn-primary.disable {
    background: #0084FF;
    border-color: #0084FF;
    opacity: 0.5;
    cursor: not-allowed;
}
.slide-authCode-wrape {
    display: block;
    line-height: 1.5;
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 65px;
    font-family: inherit;
    background-color: #fff;
    cursor: default;
    z-index: 110;
    box-shadow: 0 0 2px 2px #eee;
    border: 1px solid #eee;
    width: 364px;
    height: 216.5px;
    padding: 12px 12px 12px 20px;
}
.slide-authCode-wrape .arrow {
    display: block;
    position: absolute;
    background-image: url(../../img/itour/common/tips.gif);
    background-repeat: no-repeat;
    width: 16px;
    height: 8px;
    background-position: 0 -8px;
    overflow: hidden;
    bottom: -8px;
    left: 190px;
}
.slide-authCode-wrape .close {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(../../img/itour/common/x.png);
}
.slide-authCode-wrape .itour-refresh {
    margin-right: 25px!important;
}
.form-wrap .form-item .input-error .icon-warn {
    font-size: 16px;
    margin-right: 4px;
}
.icon-warn {
	display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../img/itour/common/icon-warn.png) no-repeat;
    
}
/****找回密码end * ****/