/**导航开始**/
#csdn-toolbar{
	font-size: 14px;
	font-weight: 400;
	color:#20232c;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
	position: relative;
}

.toolbar-inside{
	
}
#csdn-toolbar *{
	padding: 0;
	margin: 0;
	box-sizing: content-box;
	font-family: 'PingFang SC','SF Pro Display','Microsoft YaHei',Roboto,Noto,Arial,sans-serif;
}
#csdn-toolbar .toolbar-container>*{
	flex: none;
}
#csdn-toolbar a{
	text-decoration: none;
}
#csdn-toolbar .toolbar-container{
	width: 1264px;
	height: 44px;
	line-height: 44px;
	margin: 0 auto;
	display: flex;
}
#csdn-toolbar .toolbar-logo{
	max-width: 80px;
	margin-right: 8px;
	height: 100%;
}
#csdn-toolbar .toolbar-logo img{
	width: 80px;
	min-width: 80px;	
	height: 100%;
}
#csdn-toolbar .toolbar-subMenu-box{
	position: relative;
}
#csdn-toolbar .toolbar-subMenu-box .toolbar-subMenu{
	display: none;
	position: absolute;
	top: 44px;
	min-width: 96px;
	padding: 8px 0;
	text-align: center;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
	border-radius: 0 0 4px 4px;
	line-height: 32px;
	z-index: 9999;
	
}

#csdn-toolbar .toolbar-subMenu-box .toolbar-subMenu>img{
	display: block;
	width: 96px;
	max-width: 96px;	
	height: auto;
	margin: 8px;
}
#csdn-toolbar .toolbar-subMenu-box .toolbar-subMenu>a{
	display: block;
	width: 100%;
    height: 32px;
    line-height: 32px;
    color: #555666;
    box-sizing: border-box;
}
#csdn-toolbar .toolbar-subMenu-box .toolbar-subMenu>a:hover{
	background: #f0f0f5;
}
#csdn-toolbar .toolbar-menus{
	width: auto;
	height: 100%;
	font-size: 0;
}
#csdn-toolbar .toolbar-menus li{
	font-size: 14px;
	line-height: 44px;
	list-style: none;
	display: inline-block;
}
#csdn-toolbar .toolbar-menus li:hover{
	color: #20232c;
	background: #f0f0f5;
}
#csdn-toolbar .toolbar-menus li>a{
	color: inherit;
	padding: 0 10px;
}
#csdn-toolbar .csdn-toolbar-fl{
	float:left;
}
#csdn-toolbar .toolbar-search{
width: 410px;
height: 32px;	
line-height: 32px;
margin-left: 8px;
margin-top: calc((44px - 32px)/ 2);
position: relative;
}
#csdn-toolbar .toolbar-container .toolbar-search{
flex: 1;
margin-right: 16px;	
}
#csdn-toolbar .toolbar-search .toolbar-search-container{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-size: 0;
}


#csdn-toolbar .toolbar-search .toolbar-search-container input{
	display: inline-block;
	width: calc(100% - 40px);
	height: 100%;
	line-height: inherit;
	box-sizing: border-box;
	background: #f6f7f8;
	color: #999;	
	font-size: 14px;
	text-indent:16px;
	border: 1px solid #f6f7f8;
	border-radius: 16px 0 0 16px;
	vertical-align: top;
}
#csdn-toolbar .toolbar-search .toolbar-search-container input:focus{
	border: 1px solid #fc1944;
}
#csdn-toolbar .toolbar-search .toolbar-search-container button{
	width: 40px;
	height: 100%;
	display: inline-block;
	background: url(../../img/csdn/csdn-white-search.png) no-repeat center center #fc5531;
	background-size: 70%;
    border-radius: 0 16px 16px 0;
    cursor: pointer;
    transition: all 0.2s ease-in;
    font-size: 0;
    border: 0 none;
}
#csdn-toolbar .toolbar-search .toolbar-search-drop-menu{
	display: none;
	width: 100%;
	height: 372px;
	box-sizing: border-box;
	padding:8px 0 12px ;
	font-weight: normal;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    border-radius: 0 0 4px 4px;
    background: #fff;
    color: #555666;
    position: absolute;
    top: 39px;
    left: 0;
    z-index: 9999;
}
#csdn-toolbar .toolbar-search .toolbar-search-drop-menu .toolbar-search-title{
	padding-left: 16px;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	position: relative;
	color: #fc5531;
	
}
#csdn-toolbar .toolbar-search .toolbar-search-drop-menu .toolbar-search-item{
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
    padding: 0 48px 0 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	cursor: pointer;
	
}
#csdn-toolbar .toolbar-search .toolbar-search-drop-menu .toolbar-search-item.hot:after{
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background: url(../../img/csdn/16-16@2x.png) no-repeat -32px 0;
	background-size: 300%;
	position: absolute;
	right: 16px;
	top: 6px;
}

#csdn-toolbar .toolbar-btns{
	height: 100%;
}
#csdn-toolbar .csdn-toolbar-fr{
	float: right;
}
#csdn-toolbar .toolbar-btns .toolbar-btn{
	margin-right: 8px;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-write{
	height: 100%;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-write>a{
	display: block;
	min-width: 96px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	background: linear-gradient(92deg,#ffba40 0,#ff503e 37%,#ff2f50 81%,#ff1b40 100%);
	border-radius: 16px;
	margin-top: calc((44px - 32px)/ 2);
}
#csdn-toolbar .toolbar-btns .toolbar-btn-write>a:hover{
	background: -webkit-gradient(linear,left top,right top,from(#ff9a01),color-stop(34%,#ff503e),color-stop(66%,#ff2b36),to(#ff1b40));
    background: linear-gradient(90deg,#ff9a01 0,#ff503e 34%,#ff2b36 66%,#ff1b40 100%);

}
#csdn-toolbar .toolbar-btns .toolbar-btn-write>a i{
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	vertical-align: middle;
	background: url(../../img/csdn/16-16@2x.png) no-repeat -32px -16px;
    background-size: 300%;
    top: -1px;
    margin-right: 4px;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-collect{
	width: 48px;
	height: 44px;
	line-height: 44px;
	color: inherit;
	text-align: center;
	margin-right: 0;
}
#csdn-toolbar .toolbar-btns .toolbar-subMenu{
	background: #fff;
}

#csdn-toolbar .toolbar-btns .toolbar-subMenu>a{
	height: 40px;
	line-height: 40px;
	padding-left: 24px;
	text-align: left;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-msg #toolbar-remind{
display: block;
width: 48px;
height: 44px;	
line-height: 44px;
color: inherit;
text-align: center;
position: relative;
}


#csdn-toolbar .toolbar-btns .toolbar-btn-login{
	height: 100%;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login .toolbar-subMenu{
	width: 144px;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login>a{
	display: block;
	color: #20232c;
	line-height: 44px;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login>a.hasAvatar{
	margin-top: calc((44px - 32px)/ 2);
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login>a img{
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.toolbar-icon {
    fill: currentColor;
    overflow: hidden;
}

#csdn-toolbar .toolbar-btns .toolbar-btn-login .toolbar-subMenu i.toolbar-icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	top: -1px;
	margin-right: 8px;
	vertical-align: middle;
	background: url(../../img/csdn/16-16@2x.png);
	background-repeat: no-repeat;
	background-size: 300%;
	background-position-x: 0;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login .toolbar-subMenu i.toolbar-icon-follow{
	background-position-y: 0;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login .toolbar-subMenu i.toolbar-icon-collect{
	background-position-y: -16px;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login .toolbar-subMenu i.toolbar-icon-profile{
	background-position-y: -32px;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login .toolbar-subMenu i.toolbar-icon-account{
	background-position-y: -48px;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login .toolbar-subMenu i.toolbar-icon-blog{
	background-position-y: -64px;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login .toolbar-subMenu i.toolbar-icon-mp{
	background-position-y: -80px;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login .toolbar-subMenu i.toolbar-icon-edu{
	background-position-y: -96px;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login .toolbar-subMenu i.toolbar-icon-download{
	background-position-y: -112px;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login .toolbar-subMenu i.toolbar-icon-book{
	background-position-y: -224px;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login .toolbar-subMenu i.toolbar-icon-wallet{
	background-position-y: -128px;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login .toolbar-subMenu i.toolbar-icon-order{
	background-position-y: -144px;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login .toolbar-subMenu i.toolbar-icon-help{
	background-position-y: -160px;
}
#csdn-toolbar .toolbar-btns .toolbar-btn-login .toolbar-subMenu i.toolbar-icon-logout{
	background-position-y: -176px;
}
/**导航结束**/