/**头部开始'**/
#root{}
.app{
	position: relative;
	z-index: 100;
	min-width: 1000px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 1px 3px rgba(18,18,18,0.1);
}
.app-inner{
	width: 1000px;
	height: 52px;
	margin: 0 auto;
	padding: 0 16px;
	position: relative;	
	display: -webkit-box; /**chorm**/
    display: -ms-flexbox; /**IE10**/
    display: flex;	
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tabs{
	border-bottom: 1px solid #f6f6f6;
}
.app-tabs{
	border-bottom: none;
	
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	margin: 0 16px;
	flex-shrink: 0;
	-ms-flex-negative: 0;
}
.tabs-item{
	display: inline-block;
	padding: 0 20px;
}
.app-tab{
	padding: 0 14px;
}
.tabs-link{
	position: relative;
	display: inline-block;
	padding: 14px 0;
	font-size: 16px;
	line-height: 22px;
	color: #121212;
	text-align: center;
	
}
.tabs-link.is-active{
	font-weight: 600;
}
.tabs-link.is-active:after{
	content: "";
	background: #0084ff;
	height: 3px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
}
.app-tabsLink{
	font-size: 15px;
	color: #8590a6;
}
.app-tabsLink.is-active{
	color: #444;
}

.searchBar{
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
}
.app-searchBar{
	height: 34px;
	-webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
	position: relative;
}
.searchBar-tool{
	width: 100%;
	height: 100%;
	-webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
	position: relative;
	overflow: hidden;
	z-index: 104;
}
.searchBar-tool-focus{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.searchBar-tool>div{
	display: block;
	height: 100%;
	width: 100%;
}
.popover{
	position: relative;
	display: inline-block;
}
.searchBar-tool .popover{
	display: block;
	width: 100%;
	height: 100%;
}
.input-wrapper{
	position: relative;
	display: flex;
	-webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;	
	width: 180px;
	height: 34px;
	padding: 4px 10px;
	font-size: 14px;
	background: #fff;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	box-sizing: border-box;
}

.searchBar-input{
	width: 100%;
	box-sizing: border-box;
	padding-left: 12px ;
	padding-right: 0;
}
.input-wrapper.input-wrapper-grey{
	background: #F6F6F6;
}
.input-wrapper.is-focus{
	background: #FFFFFF;
	border-color: #8590A6;
}
.input{
	-webkit-box-flex: 1;
	flex: 1 1;
	padding: 0;
	overflow: hidden;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	background: transparent;
	border: none;
	resize: none;
	outline: none;
}
input.input{
	color: #121212;
	height: 24px;
	line-height: 24px;
}
button{
	padding: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	appearance: none;
	
}
.button{
	display: inline-block;
	padding: 0 16px;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	background: none;
	border: 1px solid;
	border-radius: 3px;
}
.button--blue{
	color: #0084FF;
	border-color: #0084FF;
}
.searchBar-searchButton{
	margin-left: 12px;
	padding: 0 12px;
	background: transparent;
	border-color: transparent;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.SearchBar-searchIcon {
    -webkit-transition: fill .2s ease;
    transition: fill .2s ease;
}
.searchBar-askButton{
	flex-shrink: 0;
	margin-left: 16px;
	z-index: 103;
	padding: 0 14px;
	line-height: 30px;
	box-sizing: border-box;
}
.searchBarHide-askButton{
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.button--blue.button-primary{
	color: #fff;
	background: #0084FF;
}
.app-userinfo{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;   
    margin-left: 10px;
    width: 296px;
    
}
.app-notifications,.app-messages{
	position: relative;
	margin-right: 40px;
}
.button--plain{
	height: auto;
	padding: 0;
	line-height: inherit;
	background-color: transparent;
	border: 0;
	border-radius: 0;
}
.css-ybodb{
	margin: 0;
	min-width: 0px;
	border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(241, 64, 60);
    padding-left: 4px;
    padding-right: 4px;
	position: absolute;
	bottom: 50%;
	left: 50%;
	font-size: 11px;
	border-radius: 20px;
}

.popover-content{
	position: absolute;
	background: #FFFFFF;
	border: 1px solid #EBEBEB;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 20px rgba(18,18,18,.1);
    box-shadow: 0 5px 20px rgba(18,18,18,.1);
    z-index: 203;
   
}
.popover-content-fixed{
	position: fixed;
}
.popover-content--bottom{
   margin-top: 8px;	
}
.popover-content--bottom.popover-bottom--arrowed{
	margin-top: 16px;
}
.popover-arrow{
	position: absolute;
	overflow: hidden;
	pointer-events: none;
}
.popover-arrow:after{
    content: "";
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin: -12px;
    border: 1px solid #ebebeb;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    pointer-events: auto;
}
.popover-arrow-bottom{
	width: 32px;
    height: 16px;
    -webkit-transform: translate(-50%,-100%);
    transform: translate(-50%,-100%);
}
.popover-arrow-bottom:after {
    left: 50%;
    bottom: -8px;
}
.menu{
	padding: 6px 0;
}
.menu-item{
	display: block;
    width: 100%;
    padding: 0 20px;
    text-align: left;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.menu-item:hover{
	background: #F6F6F6;
}
.appProfileMenu-item{
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 36px;
}
.appProfileMenu-item .Zi{
	margin-right: 6px;
}

.searchBar-menuContainer {
    margin-left: -13px;
}
.searchBar-menu{
	width: 400px;
	padding-bottom: 0;
	overflow-x: hidden;
}
.searchBar-menu .searchBar-noValueMenu{
	padding-bottom: 8px;
}
.searchBar-label{
	padding: 7px 0;
	margin-right: 16px;
	margin-left: 16px;
	font-size: 14px;
	color: #8590A6;
	border-bottom: 1px solid #EBEBEB;
}

.searchBar-topSearchItem{
	display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 4px 0;
    height: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 2px 0;
}
.searchBar-hotIcon {
    margin-left: 5px;
}
.searchBar-label--history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.searchBar-historyIconWrapper{
	position: relative;
}
.searchBar-historyIconShade{
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.searchBar-historyIconWrapper svg {
    fill: #8590a6;
}
.searchBar-historyItem,.searchBar-historyItemContent{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.searchBar-historyItem {	
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    padding: 6px 0;
    line-height: 24px;
}

.searchBar-historyDelete {
    display: none;
}
/**头部结束**/
/**主体内容开始**/
.topstory-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
	width: 1000px;
	padding: 0 16px;
	margin: 10px auto;
}
.topstory-mainColunm{
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-right: 10px;
	margin-bottom: 0;
	width: 694px;
}
.card{
	margin-bottom: 10px;
	background: #fff;
	overflow: hidden;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(18,18,18,0.1);
	box-shadow: 0 1px 3px rgba(18,18,18,0.1);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.topstory-noMarginCard{
	margin-bottom: 0!important;
}
.topstory-tabCard{
	-webkit-box-shadow: none;
	box-shadow: none;
}
.topstoryTabs{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #F6F6F6;
	height: 58px;
}
.topstory-tabs{
	border-bottom: 1px solid #f0f2f7;
}
.topstoryTabs-link{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px;
	margin: 0 22px;
}
.topstoryTabs-link:hover{
	color: #175199;
}
.topstoryTabs-link.is-active{
	color: #0084FF;
	font-weight: 500;
}
.topstoryTabs-link.is-active:hover{
	color: #0084ff;
}

.topstoryItem{
border-radius: 0;	
overflow: initial;
position: relative;
padding: 16px 20px;

}
.topstoryItem-isRecommend{
	padding: 20px;
}
.topstory-mainColunm .topstoryItem--advertCard{
	padding: 0;
	border-bottom: none;
}
.topstory-mainColunm .card:not(.topstory-tabCard){
	margin-bottom: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid #f0f2f7;
}
.contentItem-title{
	font-size: 18px;
	font-weight: 600;
	line-height: 1.6;
	color: #121212;
	margin-top: -4px;
	margin-bottom: -4px;
}
.richContent{
	line-height: 1.67;
}
.richContent-cover{
 position: relative;
 width: 190px;
 height: 105px;
 margin-top: -2px;
 margin-right: 18px;
 margin-bottom: 4px;
 float: left;
 overflow: hidden;
 background-position: 50%;
 background-size: cover;
 border-radius: 4px;
 -webkit-transform: translateZ(0);
 transform: translateZ(0);
}
.richContent-cover:after{
content: "";
position: absolute;
z-index: 1;
display: block;
width: 100%;
height: 100%;
background: rgba(18,18,18,0.02);
}
.richContent-cover-inner{
position: absolute;
top: 50%;
left: 0;
height: 100%;
width: 100%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
overflow: hidden;		
}
.richContent-cover-inner img{
	position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.richContent-cover-play{
	position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 48px;
    height: 48px;
    -webkit-box-shadow: 0 0 4px 0 rgba(18,18,18,0.16);
    box-shadow: 0 0 4px 0 rgba(18,18,18,0.16);
}



.richContent-inner{
	margin-top: 9px;
	margin-bottom: -4px;
    overflow: hidden;
}
.richContent-cover+.richContent-inner{
	margin-top: 16px;
}
.richContent .richContent-inner{
	max-height: 100px;
}
.ztext {
    word-break: break-word;
    line-height: 1.6;
}
.richContent.is-collapsed:not(.richContent--unescapable) .copyrightRichText-richText {
    white-space: normal;
}
.contentItem-more{
	padding: 0;
    margin-left: 4px;
    color: #175199;
}


.contentItem-actions{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 20px;
	margin: 0 -20px -10px;
	color: #646464;
	background: #fff;
	clear: both;
}
.contentItem-actions>*{
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.contentItem-action{
	margin-left: 24px;
	font-size: 14px;
}
.videoToolbar{
	padding-left: 0;
	padding-top: 0;
}
.contentItem-action:first-child{
	margin-left:0 ;
}
.voteButton{
	padding: 0 10px;
	color: #0084ff;
	background: rgba(0,132,255,0.1);
	border-color: transparent;
}
.topstoryItem:not(".button--plain"):not(".button--link"){
	line-height: 30px;
    padding: 0 12px;
}
.VoteButton-TriangleUp {
    margin-right: 5px;
}
.button--withIcon.button--plain {
    padding: 0;
}
.button--withIcon.button--withLabel .button-zi {
    margin-right: 4px;
}
.pc-feedAd-container{
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}
.pc-feedAd{
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
}
.pc-feedAd-card{
	position: relative;
}
.pc-feedAd-card-brand{
	margin-bottom: 11px;
}
.pc-feedAd-card-brand-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.pc-feedAd-card-brand-wrapper>img{
	width: 24px;
    height: 24px;
    border-radius: 1px;
    background: #fff;
}
.pc-feedAd-card-brand--bold{
	font-weight: 600;
	line-height: 24px;
}
.pc-feedAd-card-brand-wrapper>span{
	margin-left: 12px;
	color: #444;
	font-size: 16px;
	line-height: 24px;
}
.pc-feedAd-card-brand-metaText{
	color: #8590a6;
    line-height: 24px;
}
.advert-signpc-label {
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3px 6px;
    border-radius: 3px;
    color: #8590a6;
    background: #f6f6f6;
    font-size: 13px;
    cursor: pointer;
}
.advert-signpc-label>svg {
    width: 24px;
    height: 24px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    fill: #8590a6;
}
.advert-signpc-popup{
	position: fixed;
	border: 1px solid #EBEBEB;
	border-radius: 4px;
	background: #fff;
	-webkit-box-shadow: 0 5px 20px rgba(26,26,26,.1);
    box-shadow: 0 5px 20px rgba(26,26,26,.1);
    z-index: 999;
}
.advert-signpc-popup--isHidden {
    display: none;
}
.advert-signpc-popup-arrow {
    position: absolute;
    left: 60px;
    width: 32px;
    height: 16px;
    overflow: hidden;
    -webkit-transform: translate(-50%,-100%);
    transform: translate(-50%,-100%);
}
.advert-signpc-popup-arrow:after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 1px solid #ebebeb;
    margin: -12px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}
.advert-signpc-popup-menu {
    min-width: 124px;
    padding: 6px 0;
}
.advert-signpc-popup-menu>button, .advert-signpc-popup-menu a {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    border: none;
    border-radius: 0;
    color: #8590a6;
    background-color: transparent;
    font-size: 14px;
    line-height: 36px;
    text-align: left;
    cursor: pointer;
}
.pc-feedAd-card-title{
	margin: 0;
    color: #121212;
    font-weight: 600;
    font-size: 18px;
}
.pc-feedAd-card-content{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px;
    color: #121212;
    line-height: 1.67;
    word-break: break-all;
}
.advertImg {
    position: relative;
    background-color: #f6f6f6;
}
.advertImg--isLoaded {
    background-color: transparent;
}
.pc-feedAd-card-content-cover {
    width: 190px;
    height: 105px;
    border-radius: 4px;
    margin-top: 4px;
    overflow: hidden;
    vertical-align: top;
}

.advertImg img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0;
    vertical-align: top;
    text-indent: -9999px;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
    -o-object-fit: cover;
    object-fit: cover;
}
.advertImg--isLoaded img {
    opacity: 1;
}
.pc-feedAd-card-content-detail {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    margin-left: 18px;
    line-height: 24px;
    word-break: break-all;
}
.pc-feedAd-card-content-detail-cta {
    display: inline-block;
    padding: 0 3px;
    color: #8590a6;
    font-size: 14px;
}
.pc-feedAd-card-content-detail-svg {
    width: 24px;
    height: 24px;
    fill: #8590a6;
}
.globalSideBar{
	-webkit-box-flex: 1;
	-ms-flex: 1 1;
	flex: 1 1;
}

